{% include "header_index.html" %}
{% block content %}
{% load static %}
{% block javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Supplier signup</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<!--===============================================================================================-->

<style>
.btn{
	background-color: #99ccff;

}
.btn1{
	background-color:#669999;
	height:30px ;
	width: 48px;
	border-radius: 6px;
	/*border: solid;*/
	/*font-color:black !important;*/
}
.btn2{
	background-color: #cc0000;
	height:30px ;
	width: 48px;
	border-radius: 6px;
	/*border: solid;*/
	font-color:black !important;
}
#book_data{
	height: auto !important;
	width: 700px !important;

}

.add_book_form
</style>
</head>
<body>
	
	<div class="limiter">

		<div class="container-login100">
					
			<div class="wrap-login100">
				<div class="wrap-login100">
			
					<div >
						<button class="btn" type="button" > add books</button>
					</div>
					<div id="book_data" >	
					<table><center>
							<tr>
								<th>BOOK NAME</th>
								<th>MRP</th>
								<th>ISBN CODE</th>
								<th>IMAGE</th>
								<th>EDIT</th>
								<th>DELETE</th>
							</tr>

						{% for data in val %}

							<tr>
								<td>{{data.book_name}}</td>
								<td>{{data.mrp}}</td>
								<td>{{data.isbn_code}}</td>

								<td	><img src="{{data.image}}" height="56" width="42"></td>
								<td><button type="button" class="btn1"><a  href="{% url 'suppliers:updated' data.isbn_code %}">EDIT</a></button></td>
							
								<td><button type="button" class="btn2"><a  href="{% url 'suppliers:delete' data.isbn_code %}">DELETE</a>	</button></td>
							</tr>
						{% endfor %}
						</center>
					</table>	
				</div >		
				{{error}}
				<div id="add_book" style="display:none">	
					<form class="add_book_form" method="POST" action="/suppliers/add_book/">
						
						{% csrf_token%}
						<table>
							<center>
							<tr>
								<td>user</td>
								<td><select  name='supplier'>{% for user in data %}
									<option value="{{user.id}}" >{{user.user.name}}</option>
								{%endfor%}
								</select></td>
							</tr>
							
							<tr>
								<td>Book Name</td>
								<td><input type="text" placeholder='book name' name="book_name"></td>
							</tr>
							<tr>
								<td>Isbn_Code</td>
								<td><input type="text" placeholder='isbn_code' name="isbn_code"></td>
							</tr>
							<tr>
								<td>Mrp</td>
								<td><input type="text" placeholder='Mrp' name="mrp"></td>
							</tr>
							<tr>
								<td>Author</td>
								<td><input type="text" placeholder='Author name' name="author"></td>
							</tr>
							<tr>
								<td>Image</td>
								<td><input type="file" placeholder='Image' name="image"></td>
							</tr>
							<tr>
								<td>Language</td>
								<td><input type="text" placeholder='Language' name="language"></td>
							</tr>
							<tr>
								<td>Book Description</td>
								<td><textarea  placeholder='Book Description' name="book_description"></textarea> </td>
							</tr>
							
							<tr>

								<td>Category</td>
								<td><input type="text"  placeholder='book name' name="category"></td>
							</tr>
							<tr>
								<td>Binding Type </td>
								<td><input type="text" placeholder='Binding Type' name="binding_type"></td>
							</tr>
							<tr>
								<td>Buy Count</td>
								<td><input type="text" placeholder='Buy Count' name="buy_count"></td>
							</tr>
							<tr>
								<td>Rent Count</td>
								<td><input type="text" placeholder='Rent Count' name="rent_count"></td>
							</tr>
							<tr>
								<td>Book Condition </td>
								<td><select id ="Book Condition" name='book_condition'>
									<option value="new" selected="selected">Buy</option>
									<option value="rent">Rent</option>

								</select></td>
							</tr>
							<tr>
								<td>Publication Year</td>
								<td><input type="text" placeholder='Publication Year' name="publication_year"></td>
							</tr>
							<tr>
								
								<td><button type="submit" id="add_book" class="btn">Add</button></td>
							</tr>
							</center>
						</table>
					</form>
				</div>		
				</div>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
<!--===============================================================================================-->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
       
     $(".btn").click(function(){
        $('#add_book').show(); 
         $('#book_data').hide(); 

        });

    $("#add").click(function(){
            var code =  $("#countries").val();
            var phone_number =  $("#id_phone_number_1").val();
            var email =  $("#email").val();
            var name =  $("#name").val();
            var password =  $("#pasword").val();
            var confirm_password =$("#confirm_password").val();

            $.ajax({
                type: "POST",
                datatype : "application/json",
                data: {'phone_number':code+phone_number , 'name':name  ,'email':email, 'password':password ,'confirm_password':confirm_password} ,
                url :'/users/signup/',
                success: function (result){
                   
                    alert("user registered");
                   	window.location='/';

                },
            });

        });  


</script>
</body>
</html>
</html>
{% endblock %}
{% endblock %}
{% block footer %}
{% include "footer_index.html" %}
{% endblock %}